<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style-admin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/12e9018ae9.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
   
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="../javascripts/sys.js"></script>
</head>
<body>
    <div class ="containter">
        <div class = "navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fab fa-shopify fa-2x"></i></span>
                        <span class="title"><h3>Shopping Web </h3></span>
                    </a>                
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-home fa-lg"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user fa-lg"></i></i></span>
                        <span class="title">Profile</span>
                    </a>                   
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-cogs fa-lg"></i></span>
                        <span class="title">Settings</span>
                    </a>                   
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-sign-out-alt fa-lg"></i></span>
                        <span class="title">Sign out</span>
                    </a>                   
                </li>
            </ul>
        </div>
    </div>
    
    <div class="main">
        <div class="topbar">
            <div class="toggle" onclick="toggleMenu();"></div>
            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                </label>
            </div>
            <div class="user">
                <img src="../images/user.jpg" alt="">
            </div>
        </div>

        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">132,042</div>
                    <div class="cardName">Daily Views</div>
                </div>
                <div class="iconBox">
                    <i class="far fa-eye"></i>
                </div>
            </div>       
            
            <div class="card">
                <div>
                    <div class="numbers">35435588</div>
                    <div class="cardName">Sales</div>
                </div>
                <div class="iconBox">
                    <i class="fas fa-shopping-cart"></i>
                </div>              
            </div>
        
            <div class="card">
                <div>
                    <div class="numbers">2082</div>
                    <div class="cardName">Comments</div>
                </div> 
                <div class="iconBox">
                    <i class="fas fa-comments"></i>
                </div>             
            </div>

            <div class="card">
                <div>
                    <div class="numbers">$6,042,343</div>
                    <div class="cardName">Earning</div>
                </div>
                <div class="iconBox">
                    <i class="fas fa-dollar-sign"></i>
                </div>              
            </div>   
        </div>

        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Best Selling Products</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                <table id="tableData">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Rating</td>
                            <td>Product Sales</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data1}}
                        <tr>
                            <td>{{ProductName}}</td>
                            <td>{{ProductPrice}}</td>
                            <td>{{AvgStarRate}}</td>
                            <td>{{TotalQuantity}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
            <div class="topShop">
                <div class="cardHeader">
                    <h2>Top Highest Revenue Shops of The Month</h2>
                    <a href="#" class="btn">View All</a>
                </div>

                <div class="filter" >
                    <form action="/dashboard/result" class="form-inline">
                       <input type="month" id="input" name="inputFilter" min="1970-01" max="2022-12" value={{inputFilter}}>
                       <button type = "submit" class="btn btn-primary" onclick="getInput()" >Filter</button> 
                    </form>
                </div>

                <table id="tableData">
                    <thead>
                        <tr>
                            <td>Shop Name</td>
                            <td>Revenue</td>
                            <td>Statistical Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data2}}
                        <tr>
                            <td>{{ShopName}}</td>
                            <td>$ {{Income}}</td>
                            <td>{{Period}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
           
        </div>
        
        <!-- <div class="chart">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        </div> -->
    </div>

    <script>

        function toggleMenu(){
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        function getInput(){
            var monthControl = document.querySelector('input[type="month"]');
            document.getElementById('input').value = monthControl.value;
            return monthControl.value;
        }

       
    </script>

</body>
</html>


